<h1>This is the home page for a signed in user</h1>
<%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
<%= link_to "Sign out", destroy_user_session_path, method: :get %>